    /* fallback */
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./icons.woff2) format('woff2');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(216, 6, 6);;
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(216, 6, 6);
    border-width: thin;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .closeButton{
    position: absolute;
    top: 10px;
    right: 20px;
    margin-left: 30px;
  }

  .popup .close {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 200ms;
    border-radius: 0px/50px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }

  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid rgb(216, 6, 6);
    border-radius: 0px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: rgb(216, 6, 6);
  }

  label, select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(216, 6, 6);
    color: white;
    /* padding: 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(155, 19, 19);
  }
  
  .tilesContainer {
    margin: 10px;
  }

  .loginContainer {
    margin: 15px;
    border: 1pt solid;
    border-radius: 5px;
    border-color: darkred;
    width: 350px;
  }
  .materialTableContainer {
    margin: 15px;
  }

  .tileButton {
    margin: 5px;
    height: 5rem;
    border: none;
  }

  .editForm {
    padding: 10px;
  }

  .editFormContainer {
    margin: 15px;
    border: 1pt solid;
    border-radius: 5px;
    border-color: darkred;
  }

  .searchContainer {
    margin: 15px;
  }

  .labelMargin {
    margin-left: 15px;
  }
  .searchButton {
    margin-left:10px;
    border: none;
    background-color: red;
    color: white;
  }

  .searchButton:hover {
    background-color: darkred;
  }

  .editFormButtons {
    margin: 10px;
  }

  .suggestButton {
    background-color: rgb(216, 6, 6);
  }
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }