.navbar {
  background-color: darkred;
}

.content {
  padding-top: 55px; 
}

.navbarBrand{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: white;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid rgb(216, 6, 6);
    border-radius: 0px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
.button:hover {
    background: rgb(216, 6, 6);
}

.MuiLinearProgress-colorSecondary.MuiLinearProgress-colorSecondary {
  background-color: white;
}